.edit-story-main {
  width: 100%;
  height: 90%;
  color: black;
  background-color: rgb(200, 246, 115);
  display: flex;
  justify-content: space-evenly;
}

.left-container-2,
.right-container-2 {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-right-container,
.inner-left-container {
  height: 90%;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.story-text-container-2 {
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.edit-story-area {
  width: 95%;
  height: 50%;
}

.edit-bottom-right-container {
  width: 95%;
  height: 30%;
  margin-top: 1.5%;
  display: flex;
  justify-content: center;
}

.edit-bottom-right-right,
.edit-bottom-right-left {
  width: 50%;
  height: 100%;
  display: flex;
}

.edit-bottom-right-right {
  justify-content: center;
  align-items: center;
}
.edit-bottom-right-right textarea {
  width: 100%; /* Adjust width as needed */
  height: 125px; /* Adjust height as needed */
  resize: vertical; /* Allows vertical resizing */
}

.edit-bottom-right-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bottom-lower-left {
  display: flex;
  justify-content: space-evenly;
}

.edit-story-area textarea {
  height: 300px;
}

#trash-icon {
  height: 40px;
  width: auto;
  position: absolute;
  right: 5%;
  margin-top: 1.5%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
#trash-icon:hover {
    cursor: pointer;
    transform: scale(1.4); /* Scale the icon on hover */
}

.delete-btns {
    width: 100%;
    display: flex;
    justify-content: center;
}

#delete-btn {
    width: 200px;
    margin: 10px;
}